@font-face {
  font-family: SuisseIntl-SemiBold;
  src: url("../assets/font/SuisseIntl-SemiBold.otf");
}

@font-face {
  font-family: SuisseIntl-Regular;
  src: url("../assets/font/SuisseIntl-Regular.otf");
}

@font-face {
  font-family: SuisseIntl-Thin;
  src: url("../assets/font/SuisseIntl-Thin.otf");
}

@font-face {
  font-family: Courier-Regular;
  src: url("../assets/font/CourierStd.otf");
}

html {
  scroll-behavior: smooth;
}

a,
span,
button,
p,
li,
ul {
  color: black;
  font-family: SuisseIntl-Regular;
}

.bold,
ul,
h1,
h2,
h3 {
  font-family: SuisseIntl-SemiBold;
}

h1 {
  font-size: 36px;
  line-height: 42px;
}

a {
  cursor: pointer;
}

h2 {
  font-size: 24px;
  line-height: 32px;
}

h3 {
  font-size: 18px;
  line-height: 28px;
}


p {
  font-size: 16px;
  line-height: 24px;
  color: #181818;
}

p a {
  color: #E83E91;
}

br {
  line-height: 2em;
}
li{
  margin:8px 0;
}

.grey {
  color: #575757;
}

.pink {
  color: #E83E91;
}

.blue {
  color: blue;
}


.black {
  color: #171717;
}

.card {
  display: inline-block;
  box-shadow: 1px 2px 24px 0 #BDBBBE;
  height: 22em;
  width: 40%;
  overflow: hidden;
  z-index: 2;
  cursor: pointer;
  margin-left: 2em;
  margin-top: 3em;
  max-width: 500px;
  height: 44vw;
  max-height: 450px;
}

.Card-content {
  position: absolute;
  margin-left: 2em;
  width: 90%;
}

.content {
  top: 2em;
  left: 0em;
  width: auto;
  margin-left: 4vw;
  margin-bottom: 3em;
}

.left-nav {
  width: 20%;
  border: 0;
  outline: 0;
  border-right: 1px solid #fc229338;
  z-index: 8;
  position: fixed;
  left:0;
  top:0px;
  padding:4px 16px;
  height:90vh;
}

.icon{
  display:flex;
  text-decoration: none;
  align-items: center;
  padding:8px;
}


.left-nav ul {
  margin: 80px 0px;
  padding-left: 0px;
}

.left-nav li {
  list-style-type: none;
  padding-left: 24px;
  margin: 16px 0px;
}

li a {
  text-decoration: none;
}

li a:hover {
  color: #FC2293;
}

.page-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow: scroll;
  left:0;
}

.content-layout {
  margin-top: 70px;
  margin-left: 20%;
  padding: 100px 4em;
  max-width: 56em;
  height: 100%;
}

.content-block {
  margin-top: 4em;
}


#recommend {
  position: absolute;
  width: 100%;
}

#info {
  position: absolute;
  left: 25%;
  width: 70%;
}

.descrip {
  position: absolute;
  width: 95%;
  margin-top: -.5em;
  font-size: 13px;
}


.dropdown {
  display: none;
}

.changOpx:hover {
  opacity: .5;
}

.IsabellaW {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-size: cover;

}

.contact-text {
  position: absolute;
  width: 40%;
  background-color: white;
  padding: 2em 2em;
  margin-left: 48%;

}

.HomeIntro {
  font-size: 48px;
  font-weight: lighter;
  left: 0;
  width: 90%;
  background-color: #efefee;
  padding: 2em 1em;

}

.navigationMargin {
  margin-right: 24px;
  font-size: 18px;
  margin-top: 6px;
  cursor: pointer;
  text-decoration: none;
}

.buttonTurnPink {
  background-color: #FC2293;
  color: white;
}


.AboutProj {
  text-decoration: none;
  min-width: 180px;
}

.AboutProj:hover {
  background-color: lightcoral;
  color: white;
}

.threecolumn {
  display: flex;
  margin-top: 12px;
}

@keyframes arrowDownAnimeample {
  from {
    opacity: 1;
  }

  to {
    opacity: .333;
  }
}

/* Homepage CSS */

#HP_container {
  display: inline-block;
  flex-direction: row;
  width: 100%;
  left: 0px;
  top: 0px;
  z-index: 17;
  position: absolute;
  color: white;
  background-color: rgba(255, 182, 193, 0.507);
}

#landingPart,
#contactPart {
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-self: flex-start;
  width: 55%;
  z-Index: 2;
}

#contactPart {
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
}

.Alllinks {
  font-size: 21px;
}

.pink {
  color: #FC2293;
}

.HP_Intro {
  font-size: 48px;
  margin-top: 12px;
  font-family: 'SuisseIntl-SemiBold';
  z-index: 10;
}

.landingpage_Intro {
  font-size: 3.3em;
  margin-top: 25%;
  vertical-align: middle;
  color: black;
  margin-left: 10%;
  font-family: 'SuisseIntl-Semibold';
}

.HP_descrip,
.Alllinks {
  font-size: 21px;
  margin-top: 24px;
  font-family: 'SuisseIntl-Regular';
  z-index: 10;
  line-height: 42px;
  width: 100%;
}

.sessionContainer {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  flex-direction: row;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  left: 0;
  position: absolute;
  /* width:95%; */
  z-index: 100;
  overflow: hidden;
}

.contentblock {
  width: 46%;
  padding: 2%;
  margin-right: 0;
  align-content: space-around;
  justify-content: space-around;
}

.imgBlock {
  width: 60%;
  margin-right: 0;
  align-content: space-around;
  justify-content: space-around;
}

.textBlock {
  width: 36%;
  padding: 2%;
  margin-right: 0;
  align-content: space-around;
  justify-content: space-around;
  overflow: hidden;
}

.img {
  height: auto;
  width: 80%;
  margin-left: 8%;
}

.ventureImg {
  width: 100%;
  margin-left: -10%;
  z-index: 3;
}

.pinkSquare {
  margin-left: 0px;
}

.timeLine {
  margin-left: 40px;
}

#Thesis {
  background: #fbfbfb;
  margin-left: 0;
  margin-top: 0;
  flex-wrap: wrap;
  overflow: hidden;
  z-index: 100;
}

.CampyBG {
  width: 100%;
  top: 0;
  z-index: 5;
  margin-left: -100;
  margin-top: 30
}

.DODCornell {
  background-color: whitesmoke;
  align-items: flex-start;
  padding-top: 18vh;
}

.DODCornellImg {
  width: 100%;
}

#Vogether {
  background-color: #333c4a;
}


#HomapageTopNavi {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;
  background-color: white;
  opacity: .2;
}

#voice,
#awareHealth {
  padding-left: 0%;
  padding-top: 0;
  background-color: white;
}

#awareHealth {
  background-color: #F9FBFF;
  flex-direction: row;
}

.awareHealthText {
  margin-left: 5%;
  width: 40%;
}

@media only screen and (max-width: 769px) {

  .card {
    width: 80%;
    margin-left: 10%;
    margin-top: 1em;
    height: 76vw;
    min-height: 350px;
  }

  .contact-text {

    display: block;
    width: 90%;
    left: 0;
    margin-left: 0;
    margin-top: 50%;
    padding: 2em;
  }

  .venture {
    left: 36px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;

  }

  .contentblockRight {
    right: auto;
    left: 66px;
    width: 90%
  }


  .HP_Intro {
    font-size: 36px;
  }


  .IsabellaW {
    margin-top: 3em;
  }

  .campy {
    left: 48px;
  }

  .sessionContainer {
    flex-direction: column-reverse;
    justify-content: center;

  }

  .HP_Intro {
    font-size: 28px;
  }

  .HP_descrip,
  .Alllinks {
    font-size: 18px;
  }

  .DODCornellImg{
    margin-bottom: 24px;
  }

  .ventureImg {
    width: 80%
  }

  .DODCornell {
    align-items: center;
    flex-direction: column;
    top: 0
  }

  .contentblock {
    width: 90%;
  }

  #landingPart,
  #contactPart {
    width: 90%;
  }

  #contactPart {
    flex-direction: column;
    align-self: flex-start;
    align-items: flex-start;
  }

  .landingPart,
  .contactPart {
    margin-left: -5%;
    flex-direction: row;
    align-self: start;

  }

  .timeLine {
    margin-left: 0px;
  }

  #voice {
    flex-direction: row-reverse;
  }

  .textBlock,
  .contentblock,
  .imgBlock,
  .awareHealthText {
    width: 100%;
    margin-left: 0px;
  }

  .threecolumn {
    display: flex;
    margin-top: 12px;
    flex-direction: column;
  }

  .AboutProj {
    width: 100%;
    min-width: 300px;
  }

/* Content page */
.left-nav {
  width: 100%;
  z-index: 8;
  position: relative;
  height:auto;
  top:0px;
  padding:4px 16px;
  border-right: 0px solid #fc229338;
  border-left: 2px solid #fc229338;
}

.left-nav ul {
  margin: 18px 4px;
  font-size: 24px;
}

.left-nav li{
  font-size: 18px;
}

.content-layout {
  margin-top: 24px;
  margin-left: 0%;
  padding: 100px 24px;
}

.content-block {
  margin-top: 2em;
}

}


@media only screen and (max-width: 450px) {

  .dropdown {
    display: inherit;
    position: fixed;
    right: 5%;
    color: #FC2293;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 1vw;
    font-size: 12px;
    background-color: white;
  }
  
  .mobile-navi,
  #HomapageTopNavi {
    height: 50px;
  }

  .venture {
    left: 12px;
  }

  .card {
    width: 90%;
    margin-left: 2%;
    margin-top: 1em;
  }

  .Card-content {
    position: absolute;
    margin-left: 1em;
    width: 90%;
  }

  .contentblockRight {
    left: 12px;
  }

  .pinkSquare {
    margin-left: 1px;
  }

  #coder {
    padding-left: 12px;
    width: 100%;
  }

  .sessionContainer {
    width: 95%;
    padding-left: 5%;
  }

  .img {
    width: 70%;
  }

  .ventureImg {
    width: 100%;
    margin-left: 0;
  }

  .DODCornell {
    padding-top: 0;
    flex-direction: column;
  }

  #landingPart,
  #contactPart {
    width: 80%;
  }
}